html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(#134D71, #78A7C6, #F7E4BF);
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  justify-content: center;
}

h1,
h3 {
  color: #FFFFFF;
}

h1 {
  padding-top: 30px;
}


h3 {
  padding-top: 60px;
}

.message-box {
  margin: 0 auto;
  border-radius: 10px;
  border-width: 1em;
  height: 75px;
  width: 420px;
  background: #FFFFFF;
}

label {
  font-size: 13px;
  line-height: 45px;
}

#mantra {
  margin-left: 130px;
}

button {
  margin-top: 2px;
  color: #FFFFFF;
  background-color: #134D71;
  border-radius: 5px;
  border: 0px;
  font-size: 13px;
  height: 22px;
  width: 150px;
}

.logo-box {
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 10px;
  border-width: 1em;
  height: 120px;
  width: 700px;
  background: #FFFFFF;
  display: block;
  text-align: center;
  padding-top: 30px;
}

svg {
  max-height: 60px;
  max-width: 60px;
}


.hidden {
  display: none;
}

h2 {
  color: #F08080;
}

p {
  color:  #404040;
  font-weight: bold;
}
